@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  position: relative;
}

.highlight::after {
  background-color: #88bbbc;
  content: "";
  display: block;
  height: 2rem;
  left: -2.5%;
  opacity: .3;
  position: absolute;
  top: 50%;
  width: 105%;
  z-index: -1;
}

.carousel .slide img {
  max-height: calc((1000 / 16) * 1rem);
  object-fit: contain;
}

.carousel .control-arrow {
  background: #acacac !important;
}