@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .left-unset {
      left: unset;
    }
  }
}

.highlight {
  position: relative;
}

.highlight::after {
  background-color: #88bbbc;
  content: "";
  display: block;
  height: 2rem;
  left: -2.5%;
  opacity: .3;
  position: absolute;
  top: 50%;
  width: 105%;
  z-index: -1;
}

.carousel .slide img {
  max-height: calc((1000 / 16) * 1rem);
  object-fit: contain;
}

.carousel .control-arrow {
  background: #acacac !important;
}

.article h2 {
  @apply text-4xl lg:text-5xl font-bold font-serif my-4;
}

.article p {
  @apply mb-4;
}

.article ul {
  @apply list-disc;
}

.article ol {
  @apply list-decimal;
}

.article :is(ul, ol) {
  @apply ml-8;
}

.article a {
  @apply font-bold text-brand-gray;
}